
footer {
    max-width: 1500px;
    margin: 0 auto;
    background: url('../../coffeetypes_img/footer.svg') no-repeat center bottom / cover;
    border-radius: 50px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

h4 {
font-family:  'Monoton', cursive;
font-size: 67px;
letter-spacing: 1px;
margin-top: 0px;
margin: auto;
padding-top: 60px;
padding-bottom: 60px;
margin-left: 30px;
color: #f2efeb;
}

.logo_footer {
    margin-top: 27px;
    margin-left: 29px;
    margin-bottom: 45px;
}
.tel {
    padding-right: 124px;
    text-decoration: underline;
    color: #f2efeb;
    font-family: 'Montaga', serif;
    font-size: 45px;
}